{% match status %} {% when UserStatus::Auth with (val) %}
<a href="/" class="flex flex-row gap-x-2 items-center font-medium">
  <p>{{ val.display_name }}</p>
  <img
    class="w-10 h-10 rounded-full"
    src="{{ val.avatar }}"
    alt="{{ val.display_name }} avatar"
  />
</a>
{% when UserStatus::Unauth %}
<a
  hx-boots="false"
  class="font-medium flex flex-row gap-x-2 items-center bg-transparent text-slate-8 hover:text-slate-8/80"
  href="{{ auth_url }}"
>
  Sign In
  <i class="i-logos-discord-icon w-6 h-6 inline-block"></i>
</a>
{% endmatch %}
